html{
    background: url("../CasinoAssets/Overall\ UI/Generic Felt Mat.jpeg");
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    height: 100%;
    font-kerning: none;
}
body{
    height: 100%;
}

.genericButton{
    z-index: 10000;
    background: url("../CasinoAssets/Overall UI/ButtonUp.png");
    background-size: cover;
    background-color: transparent;
    width: 295px;
    height: 73px;
    color: black;
    text-align: center;
    font-weight:900;
    cursor: pointer;
    user-select: none;
    font-size: 54px;
    position:absolute;
}

#back{
    left: 1%;
    top: 87%;
}

.chip{
    width: 80px;
    height: 80px;
    background-size:cover;
    background-color: transparent;
    color: transparent;
}

.chip1{
    background-image: url("../CasinoAssets/Overall UI/Chip1.png");
}

.chip5{
    background-image: url("../CasinoAssets/Overall UI/Chip5.png");
}

.chip10{
    background-image: url("../CasinoAssets/Overall UI/Chip10.png");
}

.chip20{
    background-image: url("../CasinoAssets/Overall UI/Chip20.png");
}

.chip50{
    background-image: url("../CasinoAssets/Overall UI/Chip50.png");
}

.chip100{
    background-image: url("../CasinoAssets/Overall UI/Chip100.png");
}

.chip500{
    background-image: url("../CasinoAssets/Overall UI/Chip500.png");
}

.chip1000{
    background-image: url("../CasinoAssets/Overall UI/Chip1000.png");
}

.chip5000{
    background-image: url("../CasinoAssets/Overall UI/Chip5000.png");
}

#chipContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 85%;
    width: 90%;
    height: 110px;
    left: 50%;
    transform:translateX(-50%)
}

#chipContainer .chip{
    margin: 10px;
}

#actionButton{
    left: 81.2%;
    top: 87%;
}

.genericButton:active{
    background-image: url("../CasinoAssets/Overall UI/ButtonDown.png");
}